@CHARSET "UTF-8";
/*배경색*/


/*게시판*/
section#board-container{width:600px; margin:0 auto; text-align:center;}
section#board-container h2{margin:10px 0;}
table#tbl-board{width:100%; margin:0 auto; border:1px solid black; border-collapse:collapse; clear:both; }
table#tbl-board th, table#tbl-board td {border:1px solid; padding: 5px 0; text-align:center;} 
section {padding:20px;}

/*글쓰기버튼*/
input#btn-add{float:right; margin: 0 0 15px;}

/*페이지바*/
div#pagebar{margin-top:10px; text-align:center; background-color:rgba(0, 188, 212, 0.3); }
div#pagebar span.cPage{color: #0066ff; margin-right: 5px;}
div#pagebar a{margin-right: 5px;}

/*게시글 작성/상세보기 테이블*/
table#tbl-board-view {
	width:600px; 
	margin:0 auto; 
	border:1px solid black; 
	border-collapse:collapse;  
}
table#tbl-board-view th {
	width: 150px; 
	border:1px solid; 
	padding: 10px 0; 
	text-align:center; 
} 
table#tbl-board-view td {
	border:1px solid; 
	padding: 5px 0 5px 15px; 
	text-align:center;
}
table#tbl-board-view img {width: 16px;}
table#tbl-board-view input[type=text] {width: 400px; height: 20px;}
table#tbl-board-view input[type=file] {margin: 3px 0;}
table#tbl-board-view textarea {margin: 3px 0; width:550px; height:250px; resize:none;}

#board_content img {margin: 10px; width: 500px; height: 300px;}


/*게시글 수정하기*/
span#fname{
    position: absolute;
    left: 92px;
    top: 10px;
    width: 255px;
    font-size: 14px;
    background: #f5f5f5;
}
#del_file+label{font-size:.8em; position:relative; top:-3px;}

/*댓글등록버튼*/
div.comment-container button#btn-comment-enroll1 {width:60px; height:50px; color:white; background:#3300ff; position:relative; top:-20px;}

/*댓글테이블*/
table#tbl-comment{width:580px; margin:0 auto; border-collapse:collapse;} 
table#tbl-comment tr td{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}
table#tbl-comment tr td:first-of-type{padding: 5px 5px 5px 50px;}
table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
table#tbl-comment button.btn-reply{display:none;}
table#tbl-comment tr:hover {background:lightgray;}
table#tbl-comment tr:hover button.btn-reply{display:inline;}
table#tbl-comment sub.comment-writer {color:navy; font-size:14px}
table#tbl-comment sub.comment-date {color:tomato; font-size:10px}

table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}
table#tbl-comment tr.level2 sub.comment-writer {color:#8e8eff; font-size:14px}
table#tbl-comment tr.level2 sub.comment-date {color:#ff9c8a; font-size:10px}

/*답글관련*/
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-comment-enroll2{width:60px; height:23px; color:white; background:#3300ff; position:relative; top:-5px; left:10px;}

/* 삭제버튼관련 */
table#tbl-comment button.btn-delete{background:red; color:white; display:none;}
table#tbl-comment tr:hover button.btn-delete{display:inline;}

/* 수정버튼관련 */
table#tbl-comment button.btn-update{background:red; color:white; display:none;}
table#tbl-comment tr:hover button.btn-update{display:inline;}

/* 신고버튼관련 */
table#tbl-comment button.btn-report{background:red; color:white; display:none;}
table#tbl-comment tr:hover button.btn-report{display:inline;}

/* 테이블 테두리 */
table {margin: 20px 0; border: 1px solid #000; border-collapse: collapse;}
th, td {border: 1px solid #000; padding: 5px;}

/*검색창*/
    .search-container {
      position: relative;
      width: 300px;
      margin: 50px auto;
    }

    .search-input {
      width: 100%;
      padding: 12px 20px;
      font-size: 16px;
      border: none;
      border-bottom: 2px solid #ccc;
      outline: none;
      background: transparent;
      transition: border-color 0.3s;
      color: white;
    }

    .search-input:focus {
      border-color: #e50914;
    }
    
/* 버튼  */
.btn-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 15px;
    padding: 10px 15px;
    border: 3px solid #e50914 ;
    background-color: transparent;
    color: #e50914 ;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
}

.btn:focus {
    outline: none;
}

.btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e50914;
    top: 100%;
    left: 0;
    transition: all 0.4s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateY(-100%);
}

.btn:hover {
    color: white;
    cursor: pointer;
}
/*셀렉트*/
.member-role {
  background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
  background-size: 20px;
  color:white;
  padding: 3px 10px 3px 1px;
  border-radius: 4px;
  outline: 0 none;
}
.member-role option {
  background: black;
  color: #fff;
  padding: 3px 0;
}
