@charset "UTF-8";


.modal {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto; /* 모달 전체에 스크롤 가능한 영역 생성 */
  
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100em;
  height: 600px;

  padding: 40px;

  text-align: center;

  background-color:white;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}
.closepopup{
  position: absolute;
  top: 10px; /* 모달 창 위쪽 여백 조절 */
  right: 10px; /* 모달 창 오른쪽 여백 조절 */
}